[submodule "mkbootimg"]
	path = mkbootimg
	url = https://android.googlesource.com/platform/system/tools/mkbootimg
[submodule "KernelSU"]
	path = KernelSU
	url = https://github.com/manipvlator/KernelSU-Next
	branch = syscall
[submodule "NoMount"]
	path = NoMount
	url = https://github.com/maxsteeel/nomount
