# Project
CONFIG_SEC_A70Q_PROJECT=y
CONFIG_SEC_A70Q_EUR_PROJECT=y

# NFC
CONFIG_NFC_PN547=y
CONFIG_NFC_PN547_ESE_SUPPORT=y
CONFIG_ESE_SECURE=y
CONFIG_ESE_SPI_GPIO_START=6
CONFIG_ESE_SPI_GPIO_END=9
CONFIG_ESE_SPI_NUMBER=2

# Hall Sensors
CONFIG_SENSORS_HALL=y
CONFIG_CERTIFY_HALL=y

# Touchscreen
CONFIG_TOUCHSCREEN_IST40XX=y

# Sensor SPI
CONFIG_SENSORS_FP_SPI_NUMBER=1
CONFIG_SENSORS_FP_SPI_GPIO_START=0
CONFIG_SENSORS_FP_SPI_GPIO_END=3

# QPNP
CONFIG_QPNP_QG=y
CONFIG_QPNP_SMB5=y
CONFIG_SMB1390_CHARGE_PUMP_PSY=y
CONFIG_PM6150_WATER_DETECT=y
CONFIG_PM6150_CC_VBUS_SHORT=y
CONFIG_PM6150_USB_FALSE_DETECTION_WA_BY_GND=y

# Actuators
CONFIG_SAMSUNG_ACTUATOR_FP5529=y
CONFIG_MCLK_I2C_DELAY_FOR_CAM_POWERDOWN=y

# Display
CONFIG_PANEL_S6E3FA7_AMS628RF05_FHD=y
CONFIG_PANEL_S6E3FC2_AMS670TA01_FHD=y

# CCIC
CONFIG_USB_CCIC_NOTIFIER_USING_QC=y

# USB Gadget
CONFIG_USB_CONFIGFS_F_CONN_GADGET=y

# Power
CONFIG_CCIC_PM6150=y
CONFIG_PM6150_FACTORY_MODE=y
CONFIG_USB_PD=y
CONFIG_USB_PD_POLICY=y
CONFIG_QPNP_USB_PDPHY=y
CONFIG_CCIC_ALTERNATE_MODE=y
CONFIG_SEC_SVDM=y

# LEDS
CONFIG_LEDS_QPNP_HAPTICS=y

# ADC
CONFIG_RID_ADC=y
CONFIG_PM6150L_RID_ADC=y

# AFC
CONFIG_AFC=y
CONFIG_PM6150_AFC=y

# SoC Components
CONFIG_MSM_GCC_SM6150=y
CONFIG_MSM_GPUCC_SM6150=y
CONFIG_MSM_VIDEOCC_SM6150=y
CONFIG_MSM_CAMCC_SM6150=y
CONFIG_MSM_DISPCC_SM6150=y

# Battery
CONFIG_BATTERY_SAMSUNG_USING_QC=y

# Factory sensors
CONFIG_LSM6DSM_FACTORY=y
CONFIG_TCS3701_FACTORY=y
CONFIG_STK3331_FACTORY=y
CONFIG_AK09918_FACTORY=y
CONFIG_SENSORS_ET7XX=y

# MST
CONFIG_MST_LDO=y
CONFIG_MST_SUPPORT_GPIO=y
CONFIG_MST_LPM_DISABLE=y
