# SoC
CONFIG_ARCH_SEC_SM7150=y

# Project
CONFIG_SEC_A71_PROJECT=y
CONFIG_SEC_A71_EUR_PROJECT=y

# NFC
CONFIG_NFC_PN547=y
CONFIG_NFC_PN547_ESE_SUPPORT=y
CONFIG_ESE_SECURE=y
CONFIG_ESE_SPI_GPIO_START=0
CONFIG_ESE_SPI_GPIO_END=3
CONFIG_ESE_SPI_NUMBER=2

# Hall Sensors
CONFIG_SENSORS_HALL=y
CONFIG_CERTIFY_HALL=y

# Touch Screen
CONFIG_TOUCHSCREEN_IST40XX=y
CONFIG_TOUCHSCREEN_MELFAS_MSS100=y
CONFIG_TOUCHSCREEN_SEC_TS_Y771=y

# Multifunction device drivers
CONFIG_MFD_S2MU106=y
CONFIG_MFD_S2MU107=y

# Display
CONFIG_PANEL_ANA6705_AMS670TD01_FHD=y
CONFIG_PANEL_ANA6705_AMS667UK01_FHD=y
CONFIG_PANEL_S6E3FA9_AMS667UK01_FHD=y
CONFIG_PANEL_S6E3FA9_AMB667UM06_FHD=y

# CCIC
CONFIG_CCIC_S2MU106=y
CONFIG_CCIC_S2MU107=y

# LEDs
CONFIG_LEDS_S2MU106_FLASH=y
CONFIG_LEDS_S2MU107_FLASH=y

# MUIC
CONFIG_MUIC_S2MU107=y
CONFIG_HV_MUIC_S2MU107_AFC=y
CONFIG_MUIC_S2MU107_RID=y

# Fuelgauge
CONFIG_FUELGAUGE_S2MU107=y
CONFIG_FUELGAUGE_S2MU107_TEMP_COMPEN=y
CONFIG_FUELGAUGE_S2MU107_BATCAP_LRN=y

# Charger
CONFIG_CHARGER_S2MU106=y
CONFIG_CHARGER_S2MU107=y
CONFIG_CHARGER_S2MU107_DIRECT=y
CONFIG_CHARGER_S2MU107_DIRECT_SUPPORT_WEAK_TA=y
CONFIG_PM_S2MU106=y
CONFIG_PM_S2MU107=y

# Notifier
CONFIG_ICM42605_FACTORY=y
CONFIG_AK09918_FACTORY=y
CONFIG_SUPPORT_PROX_DUALIZATION=y
CONFIG_SENSORS_ET7XX=y

# MST
CONFIG_MST_LDO=y
CONFIG_MST_SUPPORT_GPIO=y
CONFIG_MST_LPM_DISABLE=y

# MSM NPU
CONFIG_MSM_NPU=y
CONFIG_MSM_NPU_V2=y

# Actuators
CONFIG_SAMSUNG_ACTUATOR_DW9817=y
CONFIG_GC5035_MACRO_OTP_DD_AUTOLOAD=y

# Camera configuration
CONFIG_SAMSUNG_REAR_QUAD=y

# USB Gadget
CONFIG_USB_CONFIGFS_F_SS_MON_GADGET=y
CONFIG_USB_F_SS_MON_GADGET=y

# PDIC
CONFIG_PDIC_PD30=y

# MMC
CONFIG_MMC_PARANOID_SD_INIT=y

# MUIC
CONFIG_USE_MUIC=y
CONFIG_MUIC_SYSFS=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_MUIC_MANAGER=y
CONFIG_MUIC_SKIP_INCOMPLETE_INSERT=y
CONFIG_MUIC_CORE=y
CONFIG_MUIC_HV=y
CONFIG_MUIC_SUPPORT_CCIC=y
CONFIG_MUIC_SUPPORT_POWERMETER=y
CONFIG_HV_MUIC_VOLTAGE_CTRL=y
CONFIG_MUIC_S2MU106=y
CONFIG_HV_MUIC_S2MU106_AFC=y
CONFIG_MUIC_S2MU106_RID=y
CONFIG_MUIC_SUPPORT_PRSWAP=y

# Sensorhub
CONFIG_SENSORS_A96T3X6_SUB=y

# Battery
CONFIG_BATTERY_SAMSUNG_V2=y
CONFIG_CHARGER_PCA9468=y
CONFIG_STEP_CHARGING=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_BATTERY_NOTIFIER=y
CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED=y
CONFIG_BATTERY_SWELLING=y
CONFIG_FUELGAUGE_S2MU106=y
CONFIG_FUELGAUGE_S2MU106_USE_5MILLIOHM=y
CONFIG_BATTERY_AGE_FORECAST=y

# Sensors
CONFIG_STK33617_FACTORY=y
