# SoC
CONFIG_ARCH_SEC_SM7150=y

# Project
CONFIG_SEC_M51_PROJECT=y
CONFIG_SEC_M51_EUR_PROJECT=y

# CMA
CONFIG_RBIN=y

# NFC
CONFIG_SEC_NFC=y

# Camera
CONFIG_GC5035_SENSOR=y
CONFIG_SAMSUNG_CAMERA_OTP=y

# Multi function device drivers
CONFIG_MFD_S2MU106=y

# Display
CONFIG_PANEL_SW83106_FHD=y
CONFIG_PANEL_SW83106_WM6676Z21_FHD=y
CONFIG_PANEL_S6E3FA9_AMB667UM07_FHD=y

# Touchscreen
CONFIG_INPUT_TOUCHSCREEN_SEC_CMD=y
CONFIG_TOUCHSCREEN_SEC_TS_Y771=y

# Sound
CONFIG_SND_SOC_SAMSUNG_JACK=y

# CCIC
CONFIG_CCIC_S2MU106=y
CONFIG_CCIC_9V_OTG_SUPPORT=y

# LEDS
CONFIG_LEDS_S2MU106_FLASH=y

# Charger
CONFIG_CHARGER_S2MU106=y
CONFIG_PM_S2MU106=y
CONFIG_NEW_STEP_CHARGING_CONCEPT=y
CONFIG_SUPPORT_9V_D2D_CHARGING=y

# Sensors
CONFIG_LSM6DSM_FACTORY=y
CONFIG_SUPPORT_LIGHT_READ_UBID=y
CONFIG_MMC5603X_FACTORY=y
CONFIG_SLPI_MOTOR=y
CONFIG_SENSORS_ET5XX=y

# MSM NPU
CONFIG_MSM_NPU=y
CONFIG_MSM_NPU_V2=y

# Camera configuration
CONFIG_SAMSUNG_REAR_QUAD=y

# Actuators
CONFIG_SAMSUNG_ACTUATOR_DW9817=y
CONFIG_GC5035_MACRO_OTP_DD_AUTOLOAD=y

# USB Gadget
CONFIG_USB_CONFIGFS_F_SS_MON_GADGET=y
CONFIG_USB_F_SS_MON_GADGET=y

# PDIC
CONFIG_PDIC_PD30=y

# MMC
CONFIG_MMC_PARANOID_SD_INIT=y

# MUIC
CONFIG_USE_MUIC=y
CONFIG_MUIC_SYSFS=y
CONFIG_MUIC_NOTIFIER=y
CONFIG_MUIC_MANAGER=y
CONFIG_MUIC_SKIP_INCOMPLETE_INSERT=y
CONFIG_MUIC_CORE=y
CONFIG_MUIC_HV=y
CONFIG_MUIC_SUPPORT_CCIC=y
CONFIG_MUIC_SUPPORT_POWERMETER=y
CONFIG_HV_MUIC_VOLTAGE_CTRL=y
CONFIG_MUIC_S2MU106=y
CONFIG_HV_MUIC_S2MU106_AFC=y
CONFIG_MUIC_S2MU106_RID=y
CONFIG_MUIC_SUPPORT_PRSWAP=y

# Sensorhub
CONFIG_SENSORS_A96T3X6_SUB=y

# Battery
CONFIG_BATTERY_SAMSUNG_V2=y
CONFIG_CHARGER_PCA9468=y
CONFIG_STEP_CHARGING=y
CONFIG_AFC_CHARGER_MODE=y
CONFIG_BATTERY_NOTIFIER=y
CONFIG_ENABLE_100MA_CHARGING_BEFORE_USB_CONFIGURED=y
CONFIG_BATTERY_SWELLING=y
CONFIG_FUELGAUGE_S2MU106=y
CONFIG_FUELGAUGE_S2MU106_USE_5MILLIOHM=y
CONFIG_BATTERY_AGE_FORECAST=y

# Sensors
CONFIG_STK33617_FACTORY=y
